<div>
    <span *ngIf="countHour < 10">0</span> <span>{{countHour}}</span>
    : <span *ngIf="countMin < 10">0</span> <span>{{countMin}}</span> 
    : <span *ngIf="count < 10">0</span> <span>{{count}}</span>
</div>

<div class="btns">
    <button class="btn btn-light btn-lg mr-3" (click)="continueInterval()">Start</button>
    <button class="btn btn-light btn-lg mr-3" (click)="stopInterval()">Stop</button>
    <button class="btn btn-light btn-lg mr-3" (click)="resetInterval()">Reset</button>
    <button class="btn btn-light btn-lg mr-3" (dblclick)="ForDblClick()">Wait</button>
</div>